@{  
    ViewBag.Title = "Calendar";
    //var db = Database.Open("dbo.CalendarEvents");
    var EventName = Request.Form["EventName"];
    var EventDescription = Request.Form["EventDescription"];
    var EventStart = Request.Form["EventStart"];
    var EventEnd = Request.Form["EventEnd"];
}

@section JavaScript{
    @Styles.Render("~/Content/fullcalendarcss")
}


<style>
    h1 {
        text-align: center;
    }

    #createEvent {
        margin: 0 auto;
        padding: 30px 0 30px 0;
        height: 100%;
        width: 100%;
    }

    #createEvent label {
        height: 25px;
        width: 150px;
        float: left;
        display: block;
        vertical-align: middle;
        margin: 5px 0 5px 0;
    }

    #EventName, #EventDescription, #EventStart, #EventEnd {
        height: 35px;
        display: block;
        vertical-align: middle;
        padding: 0 10px 0 10px;
        margin: 0;
    }

    #createEventButton {
        padding: 5px 15px 5px 15px;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    // Only load the calendar when the page is done loading everything else.
    $(document).ready(function () {
        $('#createEvent').hide();
        //var date = new Date();
        //var d = date.getDate();
       // var m = date.getMonth();
        //var y = date.getFullYear();
        var d;

        /*
        $('#button_id').click(function () {
            var newEvent = {
                title: 'TEST EVENT',
                start: new Date(y, m, d)
            };
            $('#calendar').fullCalendar('renderEvent', newEvent, 'stick');
        });
        */
        // Targets the calendar div and will put the calendar and all of its functionality there.
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },

            dayClick: function(date) {
                //alert("I got called, and it was awesome!");
                /*
                var newEvent = {
                    title: 'TEST EVENT',
                    start: new Date(y, m, d)
                };
                $('#calendar').fullCalendar('renderEvent', newEvent, 'stick');
                */
                d = date.format();
                $('#createEvent').show();
                $('#EventStart').val(d);
                window.scrollTo(0, 0);
            },

            editable: true
        });
    });

    $(function () {
        $("#date").datepicker();
    });

    $(function () {
        $("#createEventButton").click(function () {
            var newEvent = {
                title: $("#EventName").val(),
                start: $("#EventStart").val(),
                end: $("#EventEnd").val(),
                allDay: false
            };

            $.ajax({
                method: "POST",
                url: "",
                data: newEvent
            });

            $('#createEvent').hide();
            $('#calendar').fullCalendar('renderEvent', newEvent, true);
            
        });
    });
</script>

<!-- Displays the message from the Home Controller -->
<h1>@ViewBag.Message</h1>

<!-- This is where the event creation forms will appear -->
<div id="createEvent">
    <form method="post" action="">
        <label for="#EventName">Title:</label>
        <input id="EventName" name="EventName" type="text" value="@EventName"><br>
        
        <label for="#EventDescription">Description:</label>
        <input id="EventDescription" name="EventDescription" type="text" value="@EventDescription"><br>
        
        <label for="#EventStart">Start:</label>
        <input id="EventStart" name="EventStart" type="text" value="@EventStart"><br>
        
        <label for="#EventEnd">End:</label>
        <input id="EventEnd" name="EventEnd" type="text" value="@EventEnd"><br>
        
        <input id="createEventButton" type="submit" value="Create">
    </form>
</div>

<!-- This is where the calendar will be displayed -->
<div id='calendar'></div>



