@using Microsoft.AspNet.Identity;
@model WebApplication5.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@section JavaScript{
    @Styles.Render("~/bundles/core")
    <!--<script src='/Scripts/jquery.min.js'></script>

    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/Chat.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/GoogleAnalytics.js"></script>-->
}
<style type="text/css">
    /*
    body, html {
        height: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        overflow:hidden;
    }
    */
    div, body, table, p {
        font-family: Verdana;
        font-size: medium;
    }
      
    .box {
        margin: 10px;
        padding: 8px 15px;
        background: #B8ED01;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 4px;
        transition: all 0.3s ease-out;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2); /* Font styles */
        text-decoration: none;
        text-shadow: 0 1px rgba(255,255,255,0.7);
    }
        
    #Error {
        width: 80%;
        left: 10%;
        position: absolute;
        height: 10%;
        top: 91%;
        color: Red;
        font-weight: bold;
        text-align: center; 
    }

    #topstocks { 
        width: 100%; 
        border: solid #00b7e6;
        border-width: 2px;
        border-radius: 5px;
        padding: 10px 15px 10px 15px; 
        height: auto; 
        overflow: auto; 
        margin: 30px 0 30px 0;
    }

    #userChat {
        display: inline-block;
        float: left;
        width: 500px;
        border: solid #00b7e6;
        border-width: 2px;
        border-radius: 5px;
        margin: 15px;
        padding: 20px 20px 0 20px;
    }

    #userCalendar {
        display: inline-block;
        float: left;
        width: 500px;
        border: solid #00b7e6;
        border-width: 2px;
        border-radius: 5px;
        margin: 15px;
        padding: 20px 20px 0 20px;
    }

   #userStatus {
        display: inline-block;
        float: right;
        width: 500px;
        border: solid #00b7e6;
        border-width: 2px;
        border-radius: 5px;
        margin: 15px;
    }

    #userPosts {
        display: inline-block;
        float: right;
        width: 500px;
        border: solid #00b7e6;
        border-width: 2px;
        border-radius: 5px;
        margin: 15px;
    }
</style>

<div class="row">
    <div class="stockcontainer col-md-12">
        <h2>Top 5 Stocks</h2>
        <div id="topstocks">
        </div>
    </div>
</div>
@{
    if(Model.Posts.posts == null) {
        <div class="row">
            <div id="logStatus" class="col-md-12">
                <div class="alert alert-info" style="margin-top: 20px">
                    Please log in to access Facebook features.
                </div>
            </div>
        </div>
    } else {
        <div class="row">
            <div id="userChat" class="col-md-6">
                @{
                    if (User.Identity.GetUserId() != null) {
                        <div id="YourNickname" style="display:none">
                        </div>
                        <div id="LastRefresh">
                        </div>
                        <div id="container">
                    
                        </div>
                        <div id="Error">
                        </div>
                        @Ajax.ActionLink("Login", "Chat", new { thisUserLoggedOn = "" }, new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" }, new { @id = "LoginButton", @style = "visibility:hidden;" })
                    }
                }
            </div>
            <div id="userStatus" class="col-md-6" style="">
                @{
                    if (Model.Posts.posts != null)
                    {
                        <h2>Update Facebook Status</h2>
                        using (Html.BeginForm("UpdateStatus", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { role = "form" }))
                        {
                            <div class="form-group">
                                @Html.TextArea("status", new { @class = "form-control col-md-12", rows = 3, cols = 80 })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Update" />
                            </div>
                        }
                    }
                }
            </div> 
        </div>

        <div class="row">
            <div id="userCalendar" class="dailyEvents col-md-6">
                @{
                    if (Model.Events.Count == 0)
                    {
                        <div class="alert alert-info">
                            No events planned for today...
                        </div>
                    } else {
                        <h2>Today's Events</h2>
                        foreach (var anEvent in Model.Events)
                        {
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>@anEvent.Name</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Start: @anEvent.DateFrom
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        End: @anEvent.DateTo
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }
                    }   
                }
            </div>   
            <div id="userPosts" class="col-md-6" style="">
                <h2>Recent Facebook Posts</h2>
                @foreach (var post in Model.Posts.posts)
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <small>@post.createdTime</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @post.message
                            </div>
                        </div>
                        <hr />
                    </div>
                }
            </div>
        </div>
    }
}
<script type='text/javascript'>
    function cback(o) {
        var items = o.query.results.quote;
        var output = '';
        var num_items = o.query.count;
        for (var i = 0; i < num_items; i++) {
            output += '<h5>' + items[i].symbol + ' ' + items[i].Name + ' ' + items[i].LastTradePriceOnly + ' ' + items[i].Change + '%' + '</h5>';
        }
        $('#topstocks').html(output);
    }
</script>
<script src='https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22YHOO%22%2C%20%22MSFT%22%2C%20%22GOOG%22%2C%20%22AAPL%22%2C%20%22XOM%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=cback'></script>
