@model WebApplication5.Models.ChatModel
<div class="col-md-3" id="Lobby">
    <p><b>@Model.Users.Count online users</b></p>
    @foreach (WebApplication5.Models.ChatModel.ChatUser user in Model.Users)
    {
        @user.Name<br />
    }
</div>
<div class="col-md-9" id="ChatHistory">
    @foreach (WebApplication5.Models.ChatModel.ChatMessage msg in Model.ChatHistory)
    {
        <p>
            <i>@msg.When</i><br />
            @if (msg.Username != null)
            {
                <b>@(msg.Username + ":")</b> @msg.Message
            }
            else
            {
                <span style="color: Red">@msg.Message</span>
            }
        </p>
    }
</div>
