@model WebApplication5.Models.CalendarModel

@{  
    ViewBag.Title = "Calendar";
}

@section JavaScript{
    @Styles.Render("~/Content/fullcalendarcss")
}


<style>
    h1 {
        text-align: center;
    }

    #createEvent {
        margin: 0 auto;
        padding: 30px 0 30px 0;
        height: 100%;
        width: 100%;
    }

    #createEvent label {
        height: 25px;
        width: 150px;
        float: left;
        display: block;
        vertical-align: middle;
        margin: 5px 0 5px 0;
    }

    #EventName, #EventDescription, #EventStart, #EventEnd {
        height: 35px;
        width: 232px;
        display: block;
        vertical-align: middle;
        padding: 0 10px 0 10px;
        margin: 0;
    }

    #EventStartHour, #EventStartTimeframe, #EventStartMinute, #EventEndHour, #EventEndTimeframe, #EventEndMinute {
        display: inline-block;
        width: 75px;
    }

    #createEventButton {
        padding: 5px 15px 5px 15px;
    }

    .form-control {
        width: 200px;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    // Only load the calendar when the page is done loading everything else.
    $(document).ready(function () {
        $('#createEvent').hide();
        var d;

        GetEvents();
    });

    function GetEvents() {
        $.ajax({
            dataType: "json",
            contentType: "application/json",
            data: "{}",
            url: "/Calendar/GetEvents",
            dataType: "json",
            success: function (data) {
                // Targets the calendar div and will put the calendar and all of its functionality there.
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },

                    dayClick: function (date) {
                        d = date.format();
                        $('#createEvent').show();
                        $('#EventName').val("");
                        $('#EventDescription').val("");
                        $('#EventStart').val(d);
                        $('#EventEnd').val(d);
                        window.scrollTo(0, 0);
                    },

                    editable: false,

                    events:$.map(data, function(item, i) {
                        var event = new Object();
                        event.start = moment(item.DateFrom);
                        event.end = moment(item.DateTo);
                        event.title = item.Name;
                        event.brief = item.Description;
                        event.id = item.UserId;
                        return event;
                    })
                });
            }
        })
    }

    $(function () {
        $("#EventStartMinute").on("change", function () {
            $("#startMinuteText").val($("#EventStartMinute option:selected").text());
        });
    });

    $(function () {
        $("#EventStartTimeframe").on("change", function () {
            $("#startTimeframeText").val($("#EventStartTimeframe option:selected").text());
        });
    });

    $(function () {
        $("#EventEndMinute").on("change", function () {
            $("#endMinuteText").val($("#EventEndMinute option:selected").text());
        });
    });

    $(function () {
        $("#EventEndTimeframe").on("change", function () {
            $("#endTimeframeText").val($("#EventEndTimeframe option:selected").text());
        });
    });

   
</script>

<!-- Displays the message from the Home Controller -->
<h1>@ViewBag.Message</h1>

<!-- This is where the event creation forms will appear -->
<div id="createEvent">
    @using (Html.BeginForm("TranslateEventTime", "Calendar", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { role = "form" })) {
        <div class="form-group">
            @Html.Label("Event Name:")
            @Html.TextArea("EventName", new { @class = "form-control", id = "EventName" })
        </div>
        <div class="form-group">
            @Html.Label("Description:")
            @Html.TextArea("EventDescription", new { @class = "form-control", id = "EventDescription" })
        </div>
        <div class="form-group">
            @Html.Label("Start Date:")
            @Html.TextArea("EventStart", new { @class = "form-control", id = "EventStart" })
        </div>

        <div class="form-group">
            @Html.Label("Start Time:")
            @Html.DropDownListFor(model => model.startHourVal, new SelectList(Model.hourList, "Value", "Text"), new { @class = "form-control", id = "EventStartHour" })
            @Html.DropDownListFor(model => model.startMinuteVal, new SelectList(Model.minuteList, "Value", "Text"), new { @class = "form-control", id = "EventStartMinute" })
            @Html.DropDownListFor(model => model.startTimeframeVal, new SelectList(Model.timeframeList, "Value", "Text"), new { @class = "form-control", id = "EventStartTimeframe" })
            @Html.HiddenFor(model => model.startMinuteText)
            @Html.HiddenFor(model => model.startTimeframeText)
        </div>

        <div class="form-group">
            @Html.Label("End Date:")
            @Html.TextArea("EventEnd", new { @class = "form-control", id = "EventEnd" })
        </div>
        <div class="form-group">
            @Html.Label("End Time:")
            @Html.DropDownListFor(model => model.endHourVal, new SelectList(Model.hourList, "Value", "Text"), new { @class = "form-control", id = "EventEndHour" })
            @Html.DropDownListFor(model => model.endMinuteVal, new SelectList(Model.minuteList, "Value", "Text"), new { @class = "form-control", id = "EventEndMinute" })
            @Html.DropDownListFor(model => model.endTimeframeVal, new SelectList(Model.timeframeList, "Value", "Text"), new { @class = "form-control", id = "EventEndTimeframe" })
            @Html.HiddenFor(model => model.endMinuteText)
            @Html.HiddenFor(model => model.endTimeframeText)
        </div>
       
        <div class="form-group">
            <input id="createEventButton" type="submit" class="btn btn-primary" value="Create" />
        </div>

    }
</div>
<div>
    @using (Html.BeginForm("DownloadEvents", "Calendar", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { role = "form" }))
    {
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Download" />
        </div>
    }

    @if(! ViewData.ModelState.IsValidField("Upload"))
    {
        <div class="alert alert-danger">
            @ViewData.ModelState["Upload"].Errors[0]
        </div>
    }

    
    @using (Html.BeginForm("UploadEvents", "Calendar", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="file">Filename:</label>
              <input class="form-control" type="file" name="file" id="file" />

              <input class="btn btn-primary" type="submit" value="Upload"/>
        </div>
    }

</div>
<!-- This is where the calendar will be displayed -->
<div id='calendar'></div>



