@{
    ViewBag.Title = "StockHistory";
    //WebApplication5.Models.StockHistory userHistory = new WebApplication5.Models.StockHistory();
}


@model WebApplication5.Models.StockHistory


<!DOCTYPE html>
<html>
 <head>
   <title>Small Bakery Products</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   <h1>Stock History</h1>
   <table>
       <thead>
           <tr>
               <th>Stock Ticker</th>
               <th>Number of Shares</th>
               <th>Bought Price</th>
       <th>Sold Price</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var key in Model.userHistory.Keys){
           foreach(var stock in Model.userHistory[key]){
            <tr>
               <td>@stock.Symbol</td>
                   <td>@stock.NumShares</td>
                   <td>@stock.BoughtPrice</td>
                   <td>@stock.SoldPrice</td>
            </tr>
            }
           }
       </tbody>
   </table>
 </body>

        <div class="col-md-2">
        @using (Html.BeginForm("DownloadStocks", "StockHistory", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { role = "form" })) {
            <div class="form-group">
                <input id="downloadStockButton" type="submit" class="btn btn-success" value="Download" />
            </div>
        }
        @if (!ViewData.ModelState.IsValidField("Upload")) {
            <div class="alert alert-danger">
                @ViewData.ModelState["Upload"].Errors[0]
            </div>
        }
    </div>

        @using (Html.BeginForm("UploadStocks", "StockHistory", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" })) {
            <div class="form-group">
                <div class="col-md-4">
                    <label for="file" id="fileLabel">Filename:</label>
                    <input class="form-control" type="file" name="file" id="file" />
                </div>
                <div class="col-md-4">
                    <input id="uploadEventButton" class="btn btn-primary" type="submit" value="Upload"/>
                </div>
            </div>
        }

        <div class="col-md-2">
        @using (Html.BeginForm("DeleteStockHistory", "StockHistory", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { role = "form" })) {
            <div class="form-group">
                <input id="deleteStockButton" type="submit" class="btn btn-danger" value="Delete History" />
            </div>
        }
</html>